html.w-mod-touch * {
    background-attachment: scroll !important;
}

.intro-header.home-header {
    height: 65vh;
    min-height: 400px;
    background-image: linear-gradient(#f8b195, rgba(174, 129, 135, .58) 53%, rgba(108, 86, 123, .4)), url(https://uploads-ssl.webflow.com/62024fae1d3031093cd14c20/620687926d114f02a4f0a197_img_20190711_105855283_optimized.jpg);
    background-position: 0 0, 50%;
    background-size: auto, cover;
    position: relative;
    margin-bottom: 40px;
}


* {
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}


body {
    color: #07070a;
    background-color: #edffec;
    font-family: Cera pro, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}

.contact-form-wrap {
    justify-content: center;
    display: flex;
    border: 1px solid #eee;
    padding: 45px 50px 50px;
    width: 500px;
}

.contact-form-wrap2  {
  border: 2px solid #eee;
}

.errorMessages {
    font-family: sans-serif;
    font-size: 15px;
}

.navigation-item {
    opacity: .8;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 9px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    display: flex;
    font-family: sans-serif;
}

.w-nav-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.navigation-items {
    background-color: #f8b195;
}

.navClass {
-webkit-text-size-adjust: 100%;
font-family: Cera pro, sans-serif;
box-sizing: border-box;
background-color: rgba(0, 0, 0, 0);
text-decoration: none;
position: relative;
opacity: .8;
color: #000;
letter-spacing: 1px;
text-transform: uppercase;
border-bottom: 3px solid rgba(0, 0, 0, 0);
justify-content: center;
margin-left: 20px;
margin-right: 20px;
font-size: 16px;
font-weight: 700;
line-height: 20px;
text-align: center;
transition: background-color .4s, opacity .4s, color .4s;
display: block;
}

.navigation {
    background-color: #f8b195;
    border-top: 5px solid #6c567b;
    align-items: center;
    display: flex;
}

.heading-jumbo {
    color: #fff;
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100px;
    font-weight: 500;
    line-height: 80px;
}

.errorMessages {
    font-family: Cera pro, sans-serif;
    font-size: 12px;
    color: red;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(246,144,128);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn, .sidenav button{
    padding: 6px 8px 6px 16px;
    margin-bottom: 7px;
    text-decoration: none;
    font-size: 14px;
    color: #111;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 15px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: rgb(246,144,128);
    color: rgb(237,255,236);
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: rgb(248,177,149);
    padding-left:10px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  .table {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ovdje postavljamo broj kolona na 3 */
    gap: 10px;
  }
  
  .table-cell {
    border: 1px solid #ccc;
    padding: 10px;
  }

  .modal-dialog{
    position: absolute;
    top: -10px;
    right: 0px;
    bottom: 0;
    left: -800px;
  }

  p{
    line-height: 1;
  }

  .colorRed{
    border-color: red;
    border-style: solid;
    border-width: 2px;
}

.enlarge-container {
  position: relative;
}

.enlarge-hover {
  position: relative;
  box-shadow: 0 0 4px 4px rgb(176, 174, 174);
  z-index: 1;
}

.enlarge-hover:hover {
  transform: scale(1.2);
  z-index: 2;
}

.enlarge-text {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(248, 177, 149, 1); /* Neprozirna boja pozadine */
  padding: 20px;
  transform: translateY(-100%);
  z-index: 3; /* Postavljamo veći z-index za tekst */
}

.enlarge-container:hover .enlarge-text {
  transform: translateY(0);
  z-index: 4; /* Povećavamo z-index prilikom hover-a */
  box-shadow: 0 0 4px 4px rgb(176, 174, 174);
}

.enlarge-container:hover .enlarge-hover {
  z-index: 2; /* Povećavamo z-index slike prilikom hover-a */
  box-shadow: 0 0 4px 4px rgb(176, 174, 174);
}

.enlarge-container:not(:hover) .enlarge-text {
  display: none; /* Sakrivamo tekst kada miš nije na divu */
}

