html.w-mod-touch * {
    background-attachment: scroll !important;
}

.intro-header.home-header {
    height: 65vh;
    min-height: 400px;
    background-image: linear-gradient(#f8b195, rgba(174, 129, 135, .58) 53%, rgba(108, 86, 123, .4)), url('/assets/DJI_0238.MP4_000108607.jpg');
    background-position: 0 0, 50%;
    background-size: auto, cover;
    position: relative;
}


* {
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}


body {
    color: #07070a;
    background-color: #edffec;
    font-family: Cera pro, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}

.contact-form-wrap {
    justify-content: center;
    display: flex;
    border: 1px solid #eee;
    padding: 45px 50px 50px;
    width: 500px;
}

.errorMessages {
    font-family: Cera pro, sans-serif;
    font-size: 12px;
    color: red;
}

.navigation-item {
    opacity: .8;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 9px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    display: flex;
    font-family: sans-serif;
}

.w-nav-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.navigation-items {
    background-color: #f8b195;
}

.navClass {
-webkit-text-size-adjust: 100%;
font-family: Cera pro, sans-serif;
box-sizing: border-box;
background-color: rgba(0, 0, 0, 0);
text-decoration: none;
position: relative;
opacity: .8;
color: #000;
letter-spacing: 1px;
text-transform: uppercase;
border-bottom: 3px solid rgba(0, 0, 0, 0);
justify-content: center;
margin-left: 20px;
margin-right: 20px;
font-size: 16px;
font-weight: 700;
line-height: 20px;
text-align: center;
transition: background-color .4s, opacity .4s, color .4s;
display: block;
}

.navigation {
    background-color: #f8b195;
    border-top: 5px solid #6c567b;
    align-items: center;
    display: flex;
}


.heading-jumbo {
    color: #fff;
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100px;
    font-weight: 500;
    line-height: 80px;
}
  
.colorRed{
    border-color: red;
    border-style: solid;
    border-width: 2px;
}

.section-heading {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    justify-content: center;
    display: flex;
}

.home-section-wrap {
    margin-bottom: 30px;
}

.tableClass{
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
}

table{
    table-layout: fixed;
}

button{
    overflow-wrap:break-word
}

th{
    width: 200px;
    max-width: 200px;
    font-family: Cera pro, sans-serif;
    text-align: left;
    overflow-wrap:break-word;
    padding: 10px;
    color: black;
    height: 70px;
}

td{
    width: 200px;
    max-width: 200px;
    font-family: Cera pro, sans-serif;
    text-align: left;
    overflow-wrap:break-word;
    padding: 10px;
    height: 70px;
}

.divTable {
    overflow-y: scroll;
    overflow-x: hidden; 
    height: 400px;
    border-collapse: collapse;
  }

  .custom-table-responsive {
    max-height: 500px; 
  }
  
  .center-button {
    display: inline-block;
    margin: auto;
  }

  a{
    color: black;
  }



  
  