html.w-mod-touch * {
    background-attachment: scroll !important;
}

.intro-header.home-header {
    height: 65vh;
    min-height: 400px;
    background-image: linear-gradient(#f8b195, rgba(174, 129, 135, .58) 53%, rgba(108, 86, 123, .4)), url(https://uploads-ssl.webflow.com/62024fae1d3031093cd14c20/620687926d114f02a4f0a197_img_20190711_105855283_optimized.jpg);
    background-position: 0 0, 50%;
    background-size: auto, cover;
    position: relative;
}


* {
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}


body {
    color: #07070a;
    background-color: #edffec;
    font-family: Cera pro, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}

.contact-form-wrap {
    justify-content: center;
    display: flex;
    border: 1px solid #eee;
    padding: 45px 50px 50px;
    width: 500px;
}

.errorMessages {
    font-family: sans-serif;
    font-size: 15px;
}

.navigation-item {
    opacity: .8;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 9px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    display: flex;
    font-family: sans-serif;
}

.w-nav-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.navigation-items {
    background-color: #f8b195;
}

.navClass {
    -webkit-text-size-adjust: 100%;
    font-family: Cera pro, sans-serif;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    position: relative;
    opacity: .8;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    transition: background-color .4s, opacity .4s, color .4s;
    display: block;
}

.navigation {
    background-color: #f8b195;
    border-top: 5px solid #6c567b;
    align-items: center;
    display: flex;
}

.heading-jumbo {
    color: #fff;
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100px;
    font-weight: 500;
    line-height: 80px;
}

.errorMessages {
    font-family: Cera pro, sans-serif;
    font-size: 12px;
    color: red;
}

.colorRed {
    border-color: red;
    border-style: solid;
    border-width: 2px;
}

.alert-box {
    max-width: 400px;
    min-height: 400px;
}

.alert-icon {
    padding-bottom: 20px;
}

a{
    color: black;
}